---
---

body {
  margin: 15px;
  font-family: 'Inter', san-serif !important;
}
.next {
  display: none;
}
label {
  margin-bottom: 25px;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.5;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.5;
}
.contribute {
  padding-top: 25px;
  padding-bottom: 15px;
}
.alert-warning {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  background: #FDF1DD;
}
.alert-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  background: #E9F3FC;
}

.alert-info img {
  padding-right: 10px;
}
