<!doctype html>
<html lang='en'>
  {% include head.html %}
  <body>
    <main>
      <div class='row'>
        <div class='col-8 offset-2'>
          <div class='text-center'>
            <img src='https://about.gitlab.com/images/press/logo/svg/gitlab-logo-100.svg' class='img' alt='GitLab Logo' style='max-width: 200px;'>
          </div>
          <h1 class='text-center'>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
          <small>
            GitLab Support has designed this Wizard to make it easy for you, our customers, to get the help you need as quickly as possible. Just answer a few simple questions about your GitLab environment and the nature of your inquiry, and the Wizard will either provide you with a possible answer, guide you to a different resource for your inquiry, or start the process of opening a support ticket for you. The Wizard will save you time and let you be confident in knowing you've taken the right steps to get the help you need from GitLab. Thank you!
          </small>
          <hr>
          {{ content }}
        </div>
      </div>
      <hr>
      <div class='text-center'>
        <button id='start_over' class='btn btn-sm btn-outline-secondary'>
          Start over
        </button>
      </div>
      <div class='contribute text-center'>
        <small>
          <div class='feedback'>
            <span class='fw-bold'>Have feedback you want to give on our wizard?</span>
            <a href='https://gitlab.com/gitlab-com/support/support-team-meta/-/issues/4742' target='_blank'>Comment here!</a>
          </div>
        </small>
      </div>
    </main>
    {% include javascript.html %}
  </body>
</html>
